#icon{
  position: absolute;
  right: 0;
    cursor: pointer;

}

:root{
    --primary-color:#fff;
    --secandory-color:#212121
    }

.light {
    --primary-color:#fff;
    --secandory-color:#212121
    }
    
.dark {
    --primary-color:#000;
    --secandory-color:#fff
    }


body{
    background-color: var(--primary-color);
    color: var(--secandory-color);
}

